order-summary.mustache

<br>
{{#orderSummary.orderProductList}}
    {{name}}
    <br>
    {{price}}
    <br>
    {{orderCount}}
    <br>
    {{totalAmount}}
    <br>
{{/orderSummary.orderProductList}}

amount : {{orderSummary.totalAmount}}
