{{>layout/header}}
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-form">
                    <form id="payForm" action="" method="post">
                        <div class="row">
                            {{#orderSummary.orderProductList}}
                                <div class="col-lg-12">
                                    <h4>주문 상품</h4>
                                </div>
                                <div class="col-lg-12">
                                    <p class="col-lg-3"> item name : {{name}} </p>
                                    <p class="col-lg-3"> item price : {{price}} </p>
                                    <p class="col-lg-3"> item count : {{orderCount}} </p>
                                    <p class="col-lg-3"> total amount : {{totalAmount}} </p>
                                </div>
                                <input type="hidden" name="productId" value="{{productId}}">
                            {{/orderSummary.orderProductList}}
                            {{#orderUser}}
                                <div class="col-lg-12">
                                    <h4>주문자</h4>
                                </div>
                                <div class="col-lg-12">
                                    <p class="col-lg-3">이 름 : {{name}}</p>
                                    <p class="col-lg-12">이메일 : {{email}}</p>
                                    {{#address}}
                                    <p class="col-lg-12">주 소 : {{address}}</p>
                                    {{/address}}
                                </div>
                                <input type="hidden" name="userId" value="{{userId}}">
                            {{/orderUser}}

                            {{#orderSummary}}
                                <div class="col-lg-12">
                                    <p class="col-lg-12">결제하실 금액 : {{totalAmount}}</p>
                                </div>
                            {{/orderSummary}}

                            <button type="button" id="btn-pay">결제 하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{>layout/footer}}
