{{>layout/header}}
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-form">
                    <form id="payForm" action="" method="post">
                        <div class="row">
                            {{#order}}
                                <div class="col-lg-12">
                                    <h4>주문 확인</h4>
                                </div>
                                <div class="col-lg-12">
                                </div>
                            {{/order}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{>layout/footer}}
