{{>layout/header}}
<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>상품 상세</h6>
                        <h2>상품 구매 페이지</h2>
                    </div>
                    {{#product.filePath}}
                        <img src="{{product.filePath}}" alt="">
                    {{/product.filePath}}
                    <p>상품 등록시 주의사항 1</p>
                    <div class="row">
                    </div>
                </div>
            </div>-->
            <div class="col-lg-12">
                <div class="contact-form">
                    <form id="detail-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>상품 상세</h4>
                            </div>
                            {{#product.filePath}}
                                <div class="col-lg-11 m-5">
                                    <img src="{{product.filePath}}" alt="기본이미지" style="width: 100%; height: 100%;">
                                </div>
                                <br>
                            {{/product.filePath}}
                            {{^product.filePath}}
                                <div class="col-lg-11 m-5">
                                    <img src="/assets/images/default.png" alt="기본이미지" style="width: 100%; height: 100%;">
                                </div>
                                <br>
                            {{/product.filePath}}
                            <input type="hidden" name="productId" id="productId" value="{{product.productId}}">
                            <div class="form-inline col-lg-8">
                                <label for="name" class="col-sm-2"> 상 품 명 : </label>
                                <input class="col-sm-6" type="text" id="name" value="{{product.name}}" disabled>
                            </div>
                            <div class="form-inline col-lg-8">
                                <label for="name" class="col-sm-2"> 가 격 : </label>
                                <input class="col-sm-6" type="text" id="price" value="{{product.price}}" disabled>
                            </div>
                            <div class="form-inline col-lg-8">
                                <label for="name" class="col-sm-2"> 재 고 : </label>
                                <input class="col-sm-6" type="text" id="stockQuantity" value="{{product.stockQuantity}}" disabled>
                            </div>
                            <div class="col-lg-8">
                                <fieldset>
                                    <button type="button" id="btn-buy" class="main-button-icon">상품 구매</button>
                                </fieldset>
                                <br>
                                <fieldset>
                                    <button type="button" id="btn-cart-save" class="main-button-icon">장바구니 추가</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->

{{>layout/footer}}